.classpath
.project
*.zip
*.xml
*.log
/bin
/groovy-bin
/build
/build/*
/www-test
/.gwt-tmp
/.gwt-test-temp
/target
/tomcat
/.settings
/target-eclipse

/web-app/

/.settings/
.externalToolBuilders
/target-eclipse

